body {
    margin : 0;
    padding : 0;
    background: #262626;
}

ul {
    margin : 0;
    padding : 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760;
    height: 430;
    display: flex;
}

ul li {
    list-style: none;
    width: 25%;
    background: url(C:/Users/Sahil%20Chachra/Downloads/pexels-photo-747964.jpeg);
    background-size: cover;
    height: 100%;
    transition: 0.5s;
}

ul:hover li:nth-child(even) {
    transform: skewY(10deg);
    box-shadow: inset 20px 0px 50px rgba(0,0,0,0.6);
}


ul:hover li:nth-child(odd) {
    transform: skewY(-10deg);
    box-shadow: inset 20px 0px 50px rgba(0,0,0,0.6);
}

ul li:nth-child(1) {
    background-position: 0;
}

ul li:nth-child(2) {
    background-position: -127;
}

ul li:nth-child(3) {
    background-position: -254;
}

ul li:nth-child(4) {
    background-position: -381;
}

ul li:nth-child(5) {
    background-position: -508;
}

ul li:nth-child(6) {
    background-position: -631.5;
}
